body {
    color: #1c191e;
    padding: 10px;
}

.title{
    position: absolute;
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    top: 50%;
    left: 50%;
    margin: -220px 0 0 -276px;

    text-align: center;
    font-size: 50px;
    padding-bottom: 32px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -276px; /* отступы равны половинным размера формы */
    display: inline-block;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
}

.form input {
    display: block;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 40px;
    color: #010101;
    background: rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

.form__field {
    margin-bottom: 10px;
}

/*Button*/
.form button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    background-color: #4b494a;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form button:hover {
    background-color: #918d93;
}

/*Fields validation*/
.form__error {
    color: #d25e5a;
    text-align: left;
    font-size: 12px;
    display: none;
}

#matching {
    text-align: left;
    font-size: 12px;
}

input:valid:not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:placeholder-shown) {
    border-color: #d25e5a;
}

input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}